root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,h}]
indent_style = tab
indent_size = 8
tab_width = 8
max_line_length = 80

[{Makefile,Makefile.am,Makefile.in}]
indent_style = tab
indent_size = 8
tab_width = 8

[*.{md,props,vcxproj,filters,sln}]
indent_style = space
indent_size = 2

[*.sh]
indent_style = tab
indent_size = 8
tab_width = 8
