.deps/
.libs/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autostuff/
config.h.in
config.h
config.log
config.status
configure
libserialport.la
libserialport.pc
libserialport.h
libtool
stamp-h1
*.o
*.lo
