.deps/
.libs/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autostuff/
config.log
config.status
configure
libserialport.la
libserialport.pc
libserialport.h
libtool
serialport.lo
serialport.o
linux_termios.lo
linux_termios.o
